.title
{
    font-family: 'Helvetica'; 
    font-size: 50px;
    text-align: center;
    margin-top: 25px; 
}
.buttons
{
    display: flex; 
    justify-content: center;
    gap: 50px; 
    margin: 50px; 
}
#score
{
    text-align: center;
    font-size: 50px; 
    margin: 25px; 
}
.main
{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 200px;
    font-size: 30px; 
}
.pList, .cList
{
    list-style-type: none; 
    margin: 0px; 
    margin-top: 20px;
    padding: 0px; 
}
.comp, .play
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}